@define-color background-darker rgba(30, 31, 41, 230);
@define-color bg #141b1e;
@define-color bg2 #fff2cc;
@define-color fg #dadada;
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color blue #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color magenta #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;
@define-color gray #bfbfbf;
