[Desktop Entry]
Type=Application
Name=Helix Editor (Kitty)
Comment=Open Helix inside Kitty terminal
Exec=kitty --class helix-editor --title "Helix" -e /usr/bin/hx %F
TryExec=kitty
Icon=helix
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
