[Desktop Entry]
Type=Application
Name=Helix Editor (Kitty)
Comment=Open Helix inside Kitty terminal
Exec=helix-launch %F
TryExec=kitty
Icon=helix
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
