[Desktop Entry]
Type=Application
Name=Kitty Terminal
Comment=GPU based terminal emulator
Exec=kitty
TryExec=kitty
Icon=kitty
Categories=System;TerminalEmulator;
StartupNotify=true
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=kitty
X-XFCE-CommandsWithParameter=kitty "%s"
X-XFCE-CommandsWithWorkingDirectory=kitty --directory "%s"
X-XFCE-CommandsWithURLs=kitty --directory "%s"
X-XFCE-IsFallback=true
