[Desktop Entry]
Type=Application
Name=Thunar
Comment=Browse files and folders
Exec=thunar %F
TryExec=thunar
Terminal=false
Icon=Thunar
Categories=Utility;Core;GTK;FileManager;
MimeType=text/plain;
StartupNotify=true
